.profileimg{
  border-radius: 50%;
  margin-right: 3px;
  align-self: center;
}

.main{
  display: flex;
  flex-direction: column;
  width: 450px;
  /* margin:  auto; */
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  background-color: #fff;

  
}

body{
  background-color:#FAFAFA;
}



.header{
  display: flex;
  margin: 10px;
justify-content: space-between;
 
  
 

}
.profile{
  display: flex;

}


.profilename{
  align-self: center;
  font-weight: bolder;

  
}

.icon{

  margin: 0px;
  width: 300px;
  
}
.icon1{
  margin: 10px;
  font-size: 20px;
  background-color: #fff;
 
}

.icon1:hover{
  color:#8E8E8E;
  cursor: pointer;
}

.likes,.caption,.comment{
  margin: 2px 5px;
}

.comment{
  color:#8E8E8E;
  font-size: medium;
  border: 0;
}

.icons{
  display: flex;
  justify-content: space-between;
  margin: 0px;

}

.addcomment{
 margin: 0% 4px;
 font-size: 30px;
 
}

.footer{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #EEEEEE;
 border-bottom: 2px solid #EEEEEE;
 height: 50px;
 padding: 10px;
}

#comment{
  margin: 3px;
}

a{
 text-decoration: none;
color:  black;
}

a:hover{
  color:#8E8E8E;
  cursor: pointer;
}

a:active{
  border: 0;
}


button{
  border: 0;
  color: #0095F6;
  background-color: white;
  cursor: pointer;
}


.mainhead{
  display: flex;
}

.sidebar>h2{
  width: 250px;
  position: sticky;
  top: 0;
  padding: 5px;
  font-family:sans-serif;
  font-style: italic;
 
}

.sidebar>ul{
  position: sticky;
  top: 50px;
 margin-left: 30px;
  padding: 5px;
}

.sidebar2>ul{

    position: sticky;
    top: 10px;
   margin-left: 30px;
    padding: 5px;

}

.sidebar2>ul>li>b{
  text-align: center;
}

li{
  line-height: 50px;
  list-style: none;
 padding: 0;
 margin: 0;
 
 
}

.sideicon{
  padding-right: 10px;
  font-size: 20px;

}

.title{
  margin-left: 30px;
  margin-top: 10px;
}

.sidebar2ul{
  display: flex;
  flex-direction: column;
}

.suggestions{
  color:#8E8E8E;
  padding: 0;
  margin: 0;
  font-size: smaller;

}

li>button{
  padding-left: 20px;
  background-color:#FAFAFA;
}

li>img{
  border-radius: 50%;
  margin-right: 5px;
}

@media screen and (max-width: 500px) {
  .sidebar,.sidebar2{
    display: none;
  }
  .main{
    width: 100%;
  }
}

